In [5]:
# Import required libraries
import pandas as pd
from sklearn.datasets import load_iris
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/Users/alex/Downloads/BenderlyZwick.csv')
# df['col'] = df['col'].astype(float)
# df['col'] = df['col'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [7]:
# df.head
df.columns
# Print the data
# df.head
# df = df.dropna() # drop nans
# df.info()
# df.iloc[0:1:26]
df.dropna(inplace=True)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 8 columns):
Unnamed: 0    15 non-null int64
S             15 non-null float64
Tp            15 non-null float64
FRIC          15 non-null float64
WLEV          15 non-null float64
HR            15 non-null float64
RES           15 non-null float64
2%            15 non-null float64
dtypes: float64(7), int64(1)
memory usage: 1.1 KB

   Unnamed: 0    S    Tp   FRIC  WLEV   HR   RES    2%
0           1  3.0  18.0  0.035  0.26  6.0  10.0  2.15
1           2  3.0  18.0  0.035  0.26  6.0   7.0  1.95
2           3  3.0  18.0  0.035  0.26  6.0   5.0  2.08
3           4  3.0  18.0  0.035  0.26  2.0  10.0  2.15
4           5  3.0  18.0  0.035  0.26  2.0   7.0  2.00

In [8]:
df.iloc[0:,1:26]

      S    Tp   FRIC  WLEV   HR   RES    2%
0   3.0  18.0  0.035  0.26  6.0  10.0  2.15
1   3.0  18.0  0.035  0.26  6.0   7.0  1.95
2   3.0  18.0  0.035  0.26  6.0   5.0  2.08
3   3.0  18.0  0.035  0.26  2.0  10.0  2.15
4   3.0  18.0  0.035  0.26  2.0   7.0  2.00
5   3.0  18.0  0.035  0.26  2.0   5.0  2.16
6   3.0  18.0  0.035  0.26  6.0  10.0  1.95
7   3.0  18.0  0.035  0.26  6.0   7.0  1.70
8   3.0  18.0  0.035  0.26  6.0   5.0  1.82
9   3.0  18.0  0.035  0.26  2.0   5.0  1.72
10  3.0  18.0  0.035  0.26  2.0   5.0  2.16
11  3.0  18.0  0.035  0.26  6.0  10.0  1.95
12  3.0  18.0  0.035  0.26  6.0   7.0  1.70
13  3.0  18.0  0.035  0.26  6.0   5.0  1.82
14  3.0  18.0  0.035  0.26  2.0   5.0  1.72

In [ ]:
df.head()
df.iloc[0:,1:26]

In [9]:
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value, p_value

/Users/alex/anaconda3/lib/python3.7/site-packages/numpy/linalg/linalg.py:2093: RuntimeWarning: invalid value encountered in det
  r = _umath_linalg.det(a, signature=signature)

(nan, nan)

In [ ]:
# Create a factor analyzer variable and perform factor analysis
fa = FactorAnalyzer(n_factors=3, rotation="varimax")

In [ ]:
df = df.dropna() # drop nans
np.isnan(df).any()

In [ ]:
# nan_to_num(df)
fa.fit(df)
# loadings = fa.loadings_