In [10]:
# Import required libraries
import pandas as pd
from sklearn.datasets import load_iris
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('/Users/alex/Downloads/datasample.csv')

In [20]:
# Print the data
# df.head
# df.columns
# df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 8 columns):
Unnamed: 0    10 non-null int64
S             10 non-null float64
Tp            10 non-null float64
FRIC          10 non-null float64
WLEV          10 non-null float64
HR            10 non-null float64
RES           10 non-null float64
2%            10 non-null float64
dtypes: float64(7), int64(1)
memory usage: 720.0 bytes

In [21]:
# Remove the unnamed column
df.iloc[0:,1:26]

     S    Tp   FRIC  WLEV   HR   RES    2%
0  3.0  18.0  0.035  0.26  6.0  10.0  2.15
1  3.0  18.0  0.035  0.26  6.0   7.0  1.95
2  3.0  18.0  0.035  0.26  6.0   5.0  2.08
3  3.0  18.0  0.035  0.26  2.0  10.0  2.15
4  3.0  18.0  0.035  0.26  2.0   7.0  2.00
5  3.0  18.0  0.035  0.26  2.0   5.0  2.16
6  3.0  18.0  0.035  0.26  6.0  10.0  1.95
7  3.0  18.0  0.035  0.26  6.0   7.0  1.70
8  3.0  18.0  0.035  0.26  6.0   5.0  1.82
9  3.0  18.0  0.035  0.26  2.0   5.0  1.72

In [14]:
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value, p_value

/Users/alex/anaconda3/lib/python3.7/site-packages/numpy/linalg/linalg.py:2093: RuntimeWarning: invalid value encountered in det
  r = _umath_linalg.det(a, signature=signature)

(nan, nan)

In [ ]:
# Create a factor analyzer variable and perform factor analysis
fa = FactorAnalyzer(n_factors=3, rotation="varimax")

In [ ]:
# nan_to_num(df)
fa.fit(df)
# loadings = fa.loadings_

In [ ]:
loadings = fa.loadings